*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #f2f2f2;
}

body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #0D0D0D60;
    padding: 15px;
    border-radius: 32px;
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
    background-color: #0D0D0D;
}

button:hover{
    background-color: #6F6E7370;
}

button:active{
    background-color: #6F6E73;
}

.btn-gray{
    background-color: #0D0D0D80;
}

.btn-gray:last-child{
    background-color: #6F6E7370;
}

.btn-gray:last-child:hover{
    background-color: #6F6E73;
}

.btn-gray:last-child:active{
    background-color: #6F6E7370;
}

.display{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #0D0D0D80;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
}

#valor-anterior{
    font-size: 1.5em;
}

#valor-actual{
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 450px){
    .calculadora{
        grid-template-columns: repeat(4, 65px);
        grid-template-rows: 140px repeat(5, 65px);
    }

    button{
        font-size: 1.1em;
    }

    #valor-anterior{
        font-size: .75em !important;
    }

    #valor-actual{
        font-size: 1.3em !important;
    }   
}